.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div{
  background-color: gray;
}

header
{

 background-color: #ADD8E6;
 border: none;
 padding: 15px;
 text-align: start;
 color: black;
 
}

*{
  
  box-sizing: border-box;
  
}
.img1{
  position: relative;
  min-width: 100%;
  min-height: 100%;
  position: cover;
  background-position: center;
}

.imagesleft
{
  background-color:#C0C0C0;
  position: relative;
  left:100px;
  margin-left: 100px;
  
}
button
{

  background-color:#C0C0C0;
  position: relative;
  right:175px;
  box-shadow:1px 1px inset;
  border: 3px solid grey;
  color:#C0C0C0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:300px;
  cursor: pointer;
}


.button1 {background-color: #00008B;} /* Blue */    .button4 {background-color: #00008B;} /* Blue */    
.button2 {background-color: #00008B;} /* Blue */    .button5 {background-color: #00008B;} /* Blue */  
.button3 {background-color: #00008B;} /* Blue */

